.form {
	max-width: 340px;
	margin: 50px auto 0;
	display: grid;
	row-gap: 10px;
}

.button {
	height: 40px;
	background-color: tomato;
	color: #fff;
	border: 0;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.button:hover {
	background-color: rgb(255, 81, 0);
}

.button[disabled] {
	background-color: grey;
	cursor: not-allowed;
}
